// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class LeaseCharges extends APIResource {
  /**
   * Created a Lease Charge
   *
   * @example
   * ```ts
   * const leaseCharge = await client.leaseCharges.create({
   *   date: 'date',
   *   lease: '00000020f51bb4362eee2a4d',
   *   lines: [{ account: 'account', amount: 0 }],
   * });
   * ```
   */
  create(body: LeaseChargeCreateParams, options?: RequestOptions): APIPromise<LeaseChargeCreateResponse> {
    return this._client.post('/lease-charges', { body, ...options });
  }

  /**
   * Retrieves a Lease Charge
   *
   * @example
   * ```ts
   * const leaseCharge = await client.leaseCharges.retrieve(
   *   'leaseChargeId',
   * );
   * ```
   */
  retrieve(leaseChargeID: string, options?: RequestOptions): APIPromise<LeaseChargeRetrieveResponse> {
    return this._client.get(path`/lease-charges/${leaseChargeID}`, options);
  }

  /**
   * Update a Lease Charge
   *
   * @example
   * ```ts
   * const leaseCharge = await client.leaseCharges.update(
   *   'leaseChargeId',
   *   {
   *     date: 'date',
   *     lease: '00000020f51bb4362eee2a4d',
   *     lines: [{ account: 'account', amount: 0 }],
   *   },
   * );
   * ```
   */
  update(
    leaseChargeID: string,
    body: LeaseChargeUpdateParams,
    options?: RequestOptions,
  ): APIPromise<LeaseChargeUpdateResponse> {
    return this._client.put(path`/lease-charges/${leaseChargeID}`, { body, ...options });
  }

  /**
   * Lists all Lease Charges
   *
   * @example
   * ```ts
   * const leaseCharges = await client.leaseCharges.list();
   * ```
   */
  list(
    query: LeaseChargeListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<LeaseChargeListResponse> {
    return this._client.get('/lease-charges', { query, ...options });
  }

  /**
   * Deletes a Lease Credit
   *
   * @example
   * ```ts
   * const leaseCharge = await client.leaseCharges.delete(
   *   'leaseChargeId',
   * );
   * ```
   */
  delete(leaseChargeID: string, options?: RequestOptions): APIPromise<LeaseChargeDeleteResponse> {
    return this._client.delete(path`/lease-charges/${leaseChargeID}`, options);
  }
}

export interface LeaseChargeCreateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeCreateResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeCreateResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeRetrieveResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeRetrieveResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeRetrieveResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeUpdateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeUpdateResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeUpdateResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeListResponse {
  data?: Array<LeaseChargeListResponse.Data>;

  total?: number;
}

export namespace LeaseChargeListResponse {
  export interface Data {
    /**
     * Format: YYYY-MM-DD
     */
    date: string;

    lease: string;

    lines: Array<Data.Line>;

    batch?: string;

    memo?: string;

    /**
     * If not provided one will be generated by the server
     */
    reference?: string;
  }

  export namespace Data {
    export interface Line {
      /**
       * References the Account Id for this line.
       */
      account: string;

      amount: number;

      id?: string;

      /**
       * Read Only.
       */
      balance?: string;

      memo?: string;
    }
  }
}

export interface LeaseChargeDeleteResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeDeleteResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeDeleteResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeCreateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeCreateParams.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeCreateParams {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeUpdateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseChargeUpdateParams.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseChargeUpdateParams {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseChargeListParams {
  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_from?: string;

  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_to?: string;

  /**
   * Filter by Lease Id
   */
  filter_lease?: string;

  /**
   * Filter by Owner Id
   */
  filter_owner?: string;

  /**
   * Filter by Property Id
   */
  filter_property?: string;
}

export declare namespace LeaseCharges {
  export {
    type LeaseChargeCreateResponse as LeaseChargeCreateResponse,
    type LeaseChargeRetrieveResponse as LeaseChargeRetrieveResponse,
    type LeaseChargeUpdateResponse as LeaseChargeUpdateResponse,
    type LeaseChargeListResponse as LeaseChargeListResponse,
    type LeaseChargeDeleteResponse as LeaseChargeDeleteResponse,
    type LeaseChargeCreateParams as LeaseChargeCreateParams,
    type LeaseChargeUpdateParams as LeaseChargeUpdateParams,
    type LeaseChargeListParams as LeaseChargeListParams,
  };
}
