// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class LeaseReversedPayments extends APIResource {
  /**
   * Create a Lease Returned Payment which marks an existing Lease Payment as
   * returned
   *
   * @example
   * ```ts
   * const leaseReversedPayment =
   *   await client.leaseReversedPayments.create({
   *     date: 'date',
   *     lease: '00000020f51bb4362eee2a4d',
   *     leasePayment: 'leasePayment',
   *     lines: [{ account: 'account', amount: 0 }],
   *   });
   * ```
   */
  create(
    body: LeaseReversedPaymentCreateParams,
    options?: RequestOptions,
  ): APIPromise<LeaseReversedPaymentCreateResponse> {
    return this._client.post('/lease-reversed-payments', { body, ...options });
  }

  /**
   * Retrieves a Lease Returned Payment
   *
   * @example
   * ```ts
   * const leaseReversedPayment =
   *   await client.leaseReversedPayments.retrieve(
   *     'leaseReversedPaymentId',
   *   );
   * ```
   */
  retrieve(
    leaseReversedPaymentID: string,
    options?: RequestOptions,
  ): APIPromise<LeaseReversedPaymentRetrieveResponse> {
    return this._client.get(path`/lease-reversed-payments/${leaseReversedPaymentID}`, options);
  }

  /**
   * Lists all Lease Returned Payments
   *
   * @example
   * ```ts
   * const leaseReversedPayments =
   *   await client.leaseReversedPayments.list();
   * ```
   */
  list(
    query: LeaseReversedPaymentListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<LeaseReversedPaymentListResponse> {
    return this._client.get('/lease-reversed-payments', { query, ...options });
  }

  /**
   * Deletes a Lease Returned Payment
   *
   * @example
   * ```ts
   * const leaseReversedPayment =
   *   await client.leaseReversedPayments.delete(
   *     'leaseReversedPaymentId',
   *   );
   * ```
   */
  delete(
    leaseReversedPaymentID: string,
    options?: RequestOptions,
  ): APIPromise<LeaseReversedPaymentDeleteResponse> {
    return this._client.delete(path`/lease-reversed-payments/${leaseReversedPaymentID}`, options);
  }
}

export interface LeaseReversedPaymentCreateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  /**
   * Referenced the original Lease Payment Id that was returned
   */
  leasePayment: string;

  lines: Array<LeaseReversedPaymentCreateResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseReversedPaymentCreateResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseReversedPaymentRetrieveResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  /**
   * Referenced the original Lease Payment Id that was returned
   */
  leasePayment: string;

  lines: Array<LeaseReversedPaymentRetrieveResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseReversedPaymentRetrieveResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseReversedPaymentListResponse {
  data?: Array<LeaseReversedPaymentListResponse.Data>;

  total?: number;
}

export namespace LeaseReversedPaymentListResponse {
  export interface Data {
    /**
     * Format: YYYY-MM-DD
     */
    date: string;

    lease: string;

    /**
     * Referenced the original Lease Payment Id that was returned
     */
    leasePayment: string;

    lines: Array<Data.Line>;

    batch?: string;

    memo?: string;

    /**
     * If not provided one will be generated by the server
     */
    reference?: string;
  }

  export namespace Data {
    export interface Line {
      /**
       * References the Account Id for this line.
       */
      account: string;

      amount: number;

      id?: string;

      /**
       * Read Only.
       */
      balance?: string;

      memo?: string;
    }
  }
}

export interface LeaseReversedPaymentDeleteResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  /**
   * Referenced the original Lease Payment Id that was returned
   */
  leasePayment: string;

  lines: Array<LeaseReversedPaymentDeleteResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseReversedPaymentDeleteResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseReversedPaymentCreateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  /**
   * Referenced the original Lease Payment Id that was returned
   */
  leasePayment: string;

  lines: Array<LeaseReversedPaymentCreateParams.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseReversedPaymentCreateParams {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseReversedPaymentListParams {
  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_from?: string;

  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_to?: string;

  /**
   * Filter by Lease Id
   */
  filter_lease?: string;

  /**
   * Filter by Owner Id
   */
  filter_owner?: string;

  /**
   * Filter by Payment Method
   */
  filter_paymentMethod?:
    | 'CASH'
    | 'CHECK'
    | 'WIRE'
    | 'CREDIT_CARD'
    | 'CASHIERS_CHECK'
    | 'MONEY_ORDER'
    | 'OTHER'
    | 'EPAY';

  /**
   * Filter by Property Id
   */
  filter_property?: string;
}

export declare namespace LeaseReversedPayments {
  export {
    type LeaseReversedPaymentCreateResponse as LeaseReversedPaymentCreateResponse,
    type LeaseReversedPaymentRetrieveResponse as LeaseReversedPaymentRetrieveResponse,
    type LeaseReversedPaymentListResponse as LeaseReversedPaymentListResponse,
    type LeaseReversedPaymentDeleteResponse as LeaseReversedPaymentDeleteResponse,
    type LeaseReversedPaymentCreateParams as LeaseReversedPaymentCreateParams,
    type LeaseReversedPaymentListParams as LeaseReversedPaymentListParams,
  };
}
