// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class LeaseCredits extends APIResource {
  /**
   * Creates a Lease Credit
   *
   * @example
   * ```ts
   * const leaseCredit = await client.leaseCredits.create({
   *   date: 'date',
   *   lease: '00000020f51bb4362eee2a4d',
   *   lines: [{ account: 'account', amount: 0 }],
   * });
   * ```
   */
  create(body: LeaseCreditCreateParams, options?: RequestOptions): APIPromise<LeaseCreditCreateResponse> {
    return this._client.post('/lease-credits', { body, ...options });
  }

  /**
   * Retrieves a Lease Credits
   *
   * @example
   * ```ts
   * const leaseCredit = await client.leaseCredits.retrieve(
   *   'leaseCreditId',
   * );
   * ```
   */
  retrieve(leaseCreditID: string, options?: RequestOptions): APIPromise<LeaseCreditRetrieveResponse> {
    return this._client.get(path`/lease-credits/${leaseCreditID}`, options);
  }

  /**
   * Updates a Lease Credit
   *
   * @example
   * ```ts
   * const leaseCredit = await client.leaseCredits.update(
   *   'leaseCreditId',
   *   {
   *     date: 'date',
   *     lease: '00000020f51bb4362eee2a4d',
   *     lines: [{ account: 'account', amount: 0 }],
   *   },
   * );
   * ```
   */
  update(
    leaseCreditID: string,
    body: LeaseCreditUpdateParams,
    options?: RequestOptions,
  ): APIPromise<LeaseCreditUpdateResponse> {
    return this._client.put(path`/lease-credits/${leaseCreditID}`, { body, ...options });
  }

  /**
   * Lists all Lease Credits
   *
   * @example
   * ```ts
   * const leaseCredits = await client.leaseCredits.list();
   * ```
   */
  list(
    query: LeaseCreditListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<LeaseCreditListResponse> {
    return this._client.get('/lease-credits', { query, ...options });
  }

  /**
   * Delete Lease Credits
   *
   * @example
   * ```ts
   * const leaseCredit = await client.leaseCredits.delete(
   *   'leaseCreditId',
   * );
   * ```
   */
  delete(leaseCreditID: string, options?: RequestOptions): APIPromise<LeaseCreditDeleteResponse> {
    return this._client.delete(path`/lease-credits/${leaseCreditID}`, options);
  }
}

export interface LeaseCreditCreateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditCreateResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditCreateResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditRetrieveResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditRetrieveResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditRetrieveResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditUpdateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditUpdateResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditUpdateResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditListResponse {
  data?: Array<LeaseCreditListResponse.Data>;

  total?: number;
}

export namespace LeaseCreditListResponse {
  export interface Data {
    /**
     * Format: YYYY-MM-DD
     */
    date: string;

    lease: string;

    lines: Array<Data.Line>;

    batch?: string;

    memo?: string;

    /**
     * If not provided one will be generated by the server
     */
    reference?: string;
  }

  export namespace Data {
    export interface Line {
      /**
       * References the Account Id for this line.
       */
      account: string;

      amount: number;

      id?: string;

      /**
       * Read Only.
       */
      balance?: string;

      memo?: string;
    }
  }
}

export interface LeaseCreditDeleteResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditDeleteResponse.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditDeleteResponse {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditCreateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditCreateParams.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditCreateParams {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditUpdateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  lease: string;

  lines: Array<LeaseCreditUpdateParams.Line>;

  batch?: string;

  memo?: string;

  /**
   * If not provided one will be generated by the server
   */
  reference?: string;
}

export namespace LeaseCreditUpdateParams {
  export interface Line {
    /**
     * References the Account Id for this line.
     */
    account: string;

    amount: number;

    id?: string;

    /**
     * Read Only.
     */
    balance?: string;

    memo?: string;
  }
}

export interface LeaseCreditListParams {
  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_from?: string;

  /**
   * Filter by Date (YYYY-MM-DD)
   */
  filter_date_to?: string;

  /**
   * Filter by Lease Id
   */
  filter_lease?: string;

  /**
   * Filter by Owner Id
   */
  filter_owner?: string;

  /**
   * Filter by Property Id
   */
  filter_property?: string;
}

export declare namespace LeaseCredits {
  export {
    type LeaseCreditCreateResponse as LeaseCreditCreateResponse,
    type LeaseCreditRetrieveResponse as LeaseCreditRetrieveResponse,
    type LeaseCreditUpdateResponse as LeaseCreditUpdateResponse,
    type LeaseCreditListResponse as LeaseCreditListResponse,
    type LeaseCreditDeleteResponse as LeaseCreditDeleteResponse,
    type LeaseCreditCreateParams as LeaseCreditCreateParams,
    type LeaseCreditUpdateParams as LeaseCreditUpdateParams,
    type LeaseCreditListParams as LeaseCreditListParams,
  };
}
