// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class VendorBills extends APIResource {
  /**
   * Creates a Vendor Bill
   *
   * @example
   * ```ts
   * const vendorBill = await client.vendorBills.create({
   *   date: 'date',
   *   dueDate: 'dueDate',
   *   lines: [
   *     {
   *       account: '507f191e810c19729de860ea',
   *       linkedToResourceId: 'linkedToResourceId',
   *       linkedToResourceType: 'property',
   *     },
   *   ],
   *   vendor: '00000020f51bb4362eee2a4d',
   * });
   * ```
   */
  create(body: VendorBillCreateParams, options?: RequestOptions): APIPromise<VendorBillCreateResponse> {
    return this._client.post('/vendor-bills', { body, ...options });
  }

  /**
   * Retrieves a Vendor Bill
   *
   * @example
   * ```ts
   * const vendorBill = await client.vendorBills.retrieve(
   *   'vendorBillId',
   * );
   * ```
   */
  retrieve(vendorBillID: string, options?: RequestOptions): APIPromise<VendorBillRetrieveResponse> {
    return this._client.get(path`/vendor-bills/${vendorBillID}`, options);
  }

  /**
   * Updates a Vendor Bill
   *
   * @example
   * ```ts
   * const vendorBill = await client.vendorBills.update(
   *   'vendorBillId',
   *   {
   *     date: 'date',
   *     dueDate: 'dueDate',
   *     lines: [
   *       {
   *         account: '507f191e810c19729de860ea',
   *         linkedToResourceId: 'linkedToResourceId',
   *         linkedToResourceType: 'property',
   *       },
   *     ],
   *     vendor: '00000020f51bb4362eee2a4d',
   *   },
   * );
   * ```
   */
  update(
    vendorBillID: string,
    body: VendorBillUpdateParams,
    options?: RequestOptions,
  ): APIPromise<VendorBillUpdateResponse> {
    return this._client.put(path`/vendor-bills/${vendorBillID}`, { body, ...options });
  }

  /**
   * Lists all Vendor Bills
   *
   * @example
   * ```ts
   * const vendorBills = await client.vendorBills.list();
   * ```
   */
  list(
    query: VendorBillListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<VendorBillListResponse> {
    return this._client.get('/vendor-bills', { query, ...options });
  }

  /**
   * Deletes a Vendor Bill
   *
   * @example
   * ```ts
   * const vendorBill = await client.vendorBills.delete(
   *   'vendorBillId',
   * );
   * ```
   */
  delete(vendorBillID: string, options?: RequestOptions): APIPromise<VendorBillDeleteResponse> {
    return this._client.delete(path`/vendor-bills/${vendorBillID}`, options);
  }
}

export interface VendorBillCreateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillCreateResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillCreateResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillRetrieveResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillRetrieveResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillRetrieveResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillUpdateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillUpdateResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillUpdateResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillListResponse {
  data?: Array<VendorBillListResponse.Data>;

  total?: number;
}

export namespace VendorBillListResponse {
  export interface Data {
    /**
     * Format: YYYY-MM-DD
     */
    date: string;

    /**
     * Format: YYYY-MM-DD
     */
    dueDate: string;

    lines: Array<Data.Line>;

    vendor: string;

    id?: string;

    batch?: string;

    memo?: string;

    /**
     * If not provided wil be generated by the server.
     */
    reference?: string;

    /**
     * Read Only. Calculated by the server.
     */
    totalAmount?: number;

    /**
     * Read Only. Calculated by the server.
     */
    totalBalance?: number;
  }

  export namespace Data {
    export interface Line {
      account: string;

      /**
       * The Property Id for this line.
       */
      linkedToResourceId: string;

      /**
       * At the monent, only "property" is supported
       */
      linkedToResourceType: 'property';

      id?: string;

      amount?: number;

      /**
       * Read Only
       */
      balance?: number;

      memo?: string;
    }
  }
}

export interface VendorBillDeleteResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillDeleteResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillDeleteResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillCreateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillCreateParams.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillCreateParams {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillUpdateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorBillUpdateParams.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorBillUpdateParams {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorBillListParams {
  /**
   * Format: YYYY-MM-DD
   */
  filter_date_from?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_date_to?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_due_date_from?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_due_date_to?: string;

  /**
   * Filter by Portfolio Id
   */
  filter_group?: string;

  /**
   * If set to true will return only bills with an open balance
   */
  filter_openBills?: boolean;

  /**
   * Filter by Property Id
   */
  filter_property?: string;

  /**
   * Filter by Vendor Id
   */
  filter_vendor?: string;
}

export declare namespace VendorBills {
  export {
    type VendorBillCreateResponse as VendorBillCreateResponse,
    type VendorBillRetrieveResponse as VendorBillRetrieveResponse,
    type VendorBillUpdateResponse as VendorBillUpdateResponse,
    type VendorBillListResponse as VendorBillListResponse,
    type VendorBillDeleteResponse as VendorBillDeleteResponse,
    type VendorBillCreateParams as VendorBillCreateParams,
    type VendorBillUpdateParams as VendorBillUpdateParams,
    type VendorBillListParams as VendorBillListParams,
  };
}
