// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class VendorCredits extends APIResource {
  /**
   * Creates a Vendor Credit
   *
   * @example
   * ```ts
   * const vendorCredit = await client.vendorCredits.create({
   *   date: 'date',
   *   dueDate: 'dueDate',
   *   lines: [
   *     {
   *       account: '507f191e810c19729de860ea',
   *       linkedToResourceId: 'linkedToResourceId',
   *       linkedToResourceType: 'property',
   *     },
   *   ],
   *   vendor: '00000020f51bb4362eee2a4d',
   * });
   * ```
   */
  create(body: VendorCreditCreateParams, options?: RequestOptions): APIPromise<VendorCreditCreateResponse> {
    return this._client.post('/vendor-credits', { body, ...options });
  }

  /**
   * Retrieves a Vendor Credit
   *
   * @example
   * ```ts
   * const vendorCredit = await client.vendorCredits.retrieve(
   *   'vendorCreditId',
   * );
   * ```
   */
  retrieve(vendorCreditID: string, options?: RequestOptions): APIPromise<VendorCreditRetrieveResponse> {
    return this._client.get(path`/vendor-credits/${vendorCreditID}`, options);
  }

  /**
   * Updates a Vendor Credit
   *
   * @example
   * ```ts
   * const vendorCredit = await client.vendorCredits.update(
   *   'vendorCreditId',
   *   {
   *     date: 'date',
   *     dueDate: 'dueDate',
   *     lines: [
   *       {
   *         account: '507f191e810c19729de860ea',
   *         linkedToResourceId: 'linkedToResourceId',
   *         linkedToResourceType: 'property',
   *       },
   *     ],
   *     vendor: '00000020f51bb4362eee2a4d',
   *   },
   * );
   * ```
   */
  update(
    vendorCreditID: string,
    body: VendorCreditUpdateParams,
    options?: RequestOptions,
  ): APIPromise<VendorCreditUpdateResponse> {
    return this._client.put(path`/vendor-credits/${vendorCreditID}`, { body, ...options });
  }

  /**
   * Lists all Vendor Credits
   *
   * @example
   * ```ts
   * const vendorCredits = await client.vendorCredits.list();
   * ```
   */
  list(
    query: VendorCreditListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<VendorCreditListResponse> {
    return this._client.get('/vendor-credits', { query, ...options });
  }

  /**
   * Deletes a Vendor Credit
   *
   * @example
   * ```ts
   * const vendorCredit = await client.vendorCredits.delete(
   *   'vendorCreditId',
   * );
   * ```
   */
  delete(vendorCreditID: string, options?: RequestOptions): APIPromise<VendorCreditDeleteResponse> {
    return this._client.delete(path`/vendor-credits/${vendorCreditID}`, options);
  }
}

export interface VendorCreditCreateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditCreateResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditCreateResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditRetrieveResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditRetrieveResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditRetrieveResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditUpdateResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditUpdateResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditUpdateResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditListResponse {
  data?: Array<VendorCreditListResponse.Data>;

  total?: number;
}

export namespace VendorCreditListResponse {
  export interface Data {
    /**
     * Format: YYYY-MM-DD
     */
    date: string;

    /**
     * Format: YYYY-MM-DD
     */
    dueDate: string;

    lines: Array<Data.Line>;

    vendor: string;

    id?: string;

    batch?: string;

    memo?: string;

    /**
     * If not provided wil be generated by the server.
     */
    reference?: string;

    /**
     * Read Only. Calculated by the server.
     */
    totalAmount?: number;

    /**
     * Read Only. Calculated by the server.
     */
    totalBalance?: number;
  }

  export namespace Data {
    export interface Line {
      account: string;

      /**
       * The Property Id for this line.
       */
      linkedToResourceId: string;

      /**
       * At the monent, only "property" is supported
       */
      linkedToResourceType: 'property';

      id?: string;

      amount?: number;

      /**
       * Read Only
       */
      balance?: number;

      memo?: string;
    }
  }
}

export interface VendorCreditDeleteResponse {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditDeleteResponse.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditDeleteResponse {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditCreateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditCreateParams.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditCreateParams {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditUpdateParams {
  /**
   * Format: YYYY-MM-DD
   */
  date: string;

  /**
   * Format: YYYY-MM-DD
   */
  dueDate: string;

  lines: Array<VendorCreditUpdateParams.Line>;

  vendor: string;

  id?: string;

  batch?: string;

  memo?: string;

  /**
   * If not provided wil be generated by the server.
   */
  reference?: string;

  /**
   * Read Only. Calculated by the server.
   */
  totalAmount?: number;

  /**
   * Read Only. Calculated by the server.
   */
  totalBalance?: number;
}

export namespace VendorCreditUpdateParams {
  export interface Line {
    account: string;

    /**
     * The Property Id for this line.
     */
    linkedToResourceId: string;

    /**
     * At the monent, only "property" is supported
     */
    linkedToResourceType: 'property';

    id?: string;

    amount?: number;

    /**
     * Read Only
     */
    balance?: number;

    memo?: string;
  }
}

export interface VendorCreditListParams {
  /**
   * Format: YYYY-MM-DD
   */
  filter_date_from?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_date_to?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_due_date_from?: string;

  /**
   * Format: YYYY-MM-DD
   */
  filter_due_date_to?: string;

  /**
   * Filter by Portfolio Id
   */
  filter_group?: string;

  /**
   * If set to true will return only bills with an open balance
   */
  filter_openBills?: boolean;

  /**
   * Filter by Property Id
   */
  filter_property?: string;

  /**
   * Filter by Vendor Id
   */
  filter_vendor?: string;
}

export declare namespace VendorCredits {
  export {
    type VendorCreditCreateResponse as VendorCreditCreateResponse,
    type VendorCreditRetrieveResponse as VendorCreditRetrieveResponse,
    type VendorCreditUpdateResponse as VendorCreditUpdateResponse,
    type VendorCreditListResponse as VendorCreditListResponse,
    type VendorCreditDeleteResponse as VendorCreditDeleteResponse,
    type VendorCreditCreateParams as VendorCreditCreateParams,
    type VendorCreditUpdateParams as VendorCreditUpdateParams,
    type VendorCreditListParams as VendorCreditListParams,
  };
}
